/******* GENERAL *******/
/* spacing on all sections */
#about,
#skills,
#portfolio,
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#about h2,
#skills h2,
#portfolio h2,
#contact h2 {
    margin-bottom: 3rem;
}
#contact {
    padding-bottom: 4rem;
}

/* display background dark color on navbar scroll */
.navbarScroll.navbarDark {
    background-color: #198754;
}
.navbar-brand, .navbar-nav{
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.9); 
    transition: background-color 0.4s ease; 
    position: fixed; 

}


/* hero background image */
.bgimage {
    height: 50vh;
    max-height: 50vh;
    background: url("images/background.webp");
    background-size: cover;
    position: relative;
     text-shadow: 0px 0px 8px rgba(1, 1, 1, 1);
    
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

/* about */
.imageAboutPage {
    display: block;        
    margin: 0 auto;       
    width: 100%;           
    max-width: 416px;     
    height: auto;          
    aspect-ratio: 1 / 1;   
    object-fit: cover;     
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 3rem;
}
/* skills */
.skillsText.card {
    height: 380px;
    cursor: pointer;
}
.skillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
#skills p {
    text-align: center;
}
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .skillsIcon {
    color: #198754;
}
.skillsText:hover {
    border: 1px solid #198754;
}

/* portfolio */
#portfolio p {
    text-align: center;
}

.card-img-top {
    max-width: 694px;
    max-height: 275px;
}

/* contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactColumn i {
    color: #198754;
}

/* footer */
