#portfolio p,
#skills p,
.card-title,
.hero-text,
.skillsIcon {
    text-align: center
}

#about,
#contact,
#portfolio,
#skills {
    margin-top: 4rem;
    padding-top: 4rem
}

#about h2,
#contact h2,
#portfolio h2,
#skills h2 {
    margin-bottom: 3rem
}

#contact {
    padding-bottom: 4rem
}

.navbarScroll.navbarDark {
    background-color: #198754
}

.navbar-brand,
.navbar-nav {
    text-shadow: 0 0 8px rgba(0, 0, 0, .5)
}

.navbar {
    background-color: rgba(0, 0, 0, .9);
    transition: background-color .4s;
    position: fixed
}

.bgimage {
    height: 50vh;
    max-height: 50vh;
    background: url("images/background.webp") 0 0/cover;
    position: relative;
}


.hero_title {
    font-size: 4.5rem
}

.hero_desc {
    font-size: 2rem
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
    background-color: rgba(0,0,0,0.65);
    padding: 1.5rem 2rem;
    border-radius: 8px;
}

.imageAboutPage {
    display: block;
    margin: 0 auto 3rem;
    width: 100%;
    max-width: 416px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5)
}

.skillsText.card {
    height: 380px;
    cursor: pointer
}

.skillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain
}

.skillsIcon {
    font-size: 36px;
    width: 100%
}

.card:hover .skillsIcon,
.contactColumn i {
    color: #198754
}

.skillsText:hover {
    border: 1px solid #198754
}

.card-img-top {
    width: 100%;
    height: auto;
    max-width: 694px;
    max-height: 275px
}

.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center
}

@media (max-width:992px) {
    .bgimage {
        background-image: url("images/background-small.webp")
    }
    
}